<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Vince Russo</p>
<p><%= @cinq %></p>
<% if @cinq == 42 %>
Super
<% else %>
Dommage
<%end%>

<% @cinq.times do |i|
%>
 hello 
<% end %>

<% @les_livres.each do |un_livre| %>
<%= un_livre.title %><br>
<% end %>
